.hero-section {
    margin: 0;
    padding: 0;
    height: 700px;
    color: #f1f508f8;
    background-color: #e4e4e4;
    background-image: url("stan_lee_grayscale.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33.33%, 1fr));
    grid-template-rows: auto auto auto;
}

.header-content {
    text-align: left;
    vertical-align: middle;
    padding-top: 15%;
    padding-left: 15%;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#nose {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    align-self: end;
    justify-self: center;
    padding-bottom: 10px;
    color: #f1f508f3;
}

h1 {
    font-size: 4em;
    font-family: 'Bebas Neue', cursive;
}

h2 {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-size: 1em;
    margin: 10% 25% 10% 25%;
}

p {
    font-size: 2em;
}

.contenido {
    margin: 10% 15% 10% 15%;
}

html {
    scroll-behavior: smooth;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    font-style: italic;
    font-family: 'Playfair Display', serif;
    margin: 10% 20% 10% 20%;
    padding-left: 10%;
  }
  blockquote:before {
    color: #b4a912;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote:after {
    color: #b4a912;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }

main{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

ul{
    line-height: 200%;
    
}

li{
    margin-bottom: 1.5em;
}

#img-div {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

#image{
    border-radius: 50%;
    max-width: 30%;
    min-width: 10%;
    height: auto;
    justify-self: center;
    align-self: center;
}
